variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type = string
}

variable "f5xc_api_url" {
  type = string
}

variable "f5xc_tenant" {
  type = string
}

provider "volterra" {
  api_p12_file = var.f5xc_api_p12_file
  url          = var.f5xc_api_url
  alias        = "default"
}

module "fleet" {
  source                       = "./modules/f5xc/fleet"
  f5xc_fleet_name              = format("%s-fleet-%s", var.project_prefix, var.project_suffix)
  f5xc_fleet_label             = format("%s-fleet-%s", var.project_prefix, var.project_suffix)
  f5xc_outside_virtual_network = [format("%s-vn-outside-%s", var.project_prefix, var.project_suffix)]
  f5xc_inside_virtual_network  = [format("%s-vn-inside-%s", var.project_prefix, var.project_suffix)]
  f5xc_networks_interface_list = [format("%s-fleet-interface-%s", var.project_prefix, var.project_suffix)]
  f5xc_namespace               = "system"
  f5xc_tenant                  = var.f5xc_tenant
  providers                    = {
    volterra = volterra.default
  }
}
